<section class="py-16 sm:py-20">
  <div class="mx-auto max-w-2xl px-4 sm:px-6 lg:max-w-7xl lg:px-8">
    <div class="grid gap-16 lg:grid-cols-2 lg:gap-24">
      <img class="mx-auto h-auto w-full max-w-xl rounded-3xl" width="576" height="864" src="/about.png" alt="Mesa"
      />
      <div class="flex flex-col gap-10">
        <div class="space-y-8 sm:space-y-12">
          <h2 class="py-12 text-3xl font-medium tracking-tight sm:text-4xl">Our Mission</h2>
          <div class="space-y-6">
            <p class="text-primary-950/70 dark:text-primary-200/70 text-base sm:text-lg">
              CiviCraft Development began as a Minecraft server with a simple goal: to break away from repetitive ideas and offer players something truly unique. Over time, what started as a server evolved into an organization dedicated to creating fresh, innovative digital experiences. Our growth was driven by a passion for pushing the limits of what can be done in virtual spaces.
            </p>
            <p class="text-primary-950/70 dark:text-primary-200/70 text-base sm:text-lg">
              We focus on building projects that stand out, from custom plugins to immersive servers, all designed with speed, security, and originality in mind. Our roots in the Minecraft community keep us grounded in the importance of creativity and quality. Every product we develop reflects our commitment to crafting experiences that leave a lasting impression.
            </p>
            <p class="text-primary-950/70 dark:text-primary-200/70 text-base sm:text-lg">
              CiviCraft Development is more than an organization — it’s a mission to redefine what’s possible online. We collaborate with forward-thinking clients and players to turn ambitious ideas into reality. By staying true to our origins and values, we continue to grow and shape the future of digital creativity.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
